<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cross Border Payment System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="https://i.imgur.com/p6kwsqk.png" alt="logo" style="max-width:100px; max-height: 50px;">
    
    <a class="navbar-brand font-weight-bold" href="#">HyperBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/createAccount">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editCustomerProfile">Edit My Profile</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>

      </ul>
      
    </div>
  </nav>
  <h3 style="font-weight: bold; text-align: left; margin: 10px">Welcome to the customer home page</h3>
  <div class="container">
    <% if (message) { %>
      <div class="alert alert-success"><%= message %></div>
    <% } %>
  </div> 

  <div class="container">
    <h1 style="font-weight: bold; padding-top: 1rem;  color: darkslateblue;">Account List</h1>
    <hr />
    <% if (accounts && accounts.length> 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Account ID</th>
            <th>Bank</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Account Activities</th>
            <th>Delete Account</th>
            <th>Deposite/Withdraw Money</th>
          </tr>
        </thead>
        <tbody>
          <% accounts.forEach((account)=> { %>
            <tr>
              <td class="copyable" data-copyable="<%= account.id %>"
                onclick="copyTextToClipboard(this.getAttribute('data-copyable'));">
                <%= account.id %>
              </td>
              <td>
                <%= account.bankID %>
              </td>
              <td>
                <%= account.balance %>
              </td>
              <td>
                <%= account.currency %>
              </td>
              <td>
                <div style="display: inline-block; margin-left: 10px;">
                  <a href="/transfer/<%= account.id %>?customerID=<%= customerID %>&accountID=<%= account.id %>"
                    class="btn btn-sm btn-primary">Go Account Activities</a>
                </div>
              </td>
              <td>
                <div style="display: inline-block; margin-left: 10px;">
                  <a href="/deleteAccount" class="btn btn-sm btn-primary">Delete Account</a>
                </div>
              </td>
              <td>
                <div style="display: inline-block; margin-left: 10px;">
                  <a href="/updateBalance" class="btn btn-sm btn-primary">Deposite/Withdraw Money</a>
                </div>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <% } else { %>
        <h5>Customer's accounts not found.</h5>
        <br>
        <% } %>
          <a href="/transfer" class="btn btn-primary">Send Money</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
